@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<form>
    <fieldset>
        <legend>Register</legend>
        <div class="row">
            <div>
                <label for="exampleInputUsername" class="form-label mt-4">Username</label>
                <input type="text" class="form-control" id="exampleInputUsername" aria-describedby="emailHelp" placeholder="Enter Username" fdprocessedid="fq47wh">
            </div>
        </div>
        <div>
            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" fdprocessedid="fq47wh">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div>
            <label for="exampleInputPassword1" class="form-label mt-4">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" autocomplete="off" fdprocessedid="aicunh">
        </div>
        <div>
            <label for="exampleInputPassword1" class="form-label mt-4">Re-enter Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Re-enter Password" autocomplete="off" fdprocessedid="aicunh">
        </div>
        <br />
        <button type="submit" class="btn btn-primary" fdprocessedid="w2qu3o">Submit</button>
    </fieldset>
</form>