@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1 class="titleHeading">PiggyPal</h1>

<div class="sideBox">

    <button type="button" id="toggleIncomeExpenseCards">Income</button>

    <button type="button" id="addExpenseCategory">+</button>
    <button type="button" id="addIncomeCategory">+</button>


    <div class="expenseCategoryCard" id="expenseCategories">
        <div class="card">
            <div class="cardHeader">
                <button type="button" class="editCard"><img src="/images/edit.png" /></button>

                <h3 class="cardName" contenteditable="false">Expense Name</h3>

                <form>
                    <label class="cardLabels">Date: </label>
                    <input class="cardDate" type="date" />
                    <br />
                    <label class="cardLabels">Amount: </label>
                    <input class="cardInput" type="text" />
                </form>

                <div class="editCardContent hidden">
                    <label class="cardLabels">Budget: </label>
                    <input type="number" class="budgetInput" placeholder="0.00" />

                    <button type="submit" class="saveCard">Save</button>
                    <button type="submit" class="deleteCard">Delete</button>
                </div>
            </div>
        </div>
    </div>



    <div class="incomeCategoryCard hidden" id="incomeCategories">
        <div class="card">
            <button type="button" class="editCard"><img src="/images/edit.png" /></button>

            <h3 class="cardName">Income Name</h3>

            <form>
                <label class="cardLabels">Date: </label>
                <input class="cardDate" type="date" />
                <br />
                <label class="cardLabels">Amount: </label>
                <input class="cardInput" type="text" />
            </form>
        </div>
    </div>
</div>


<div class="incomeAndExpenses">
    <div class="income">
        <label class="incomeAndExpensesLabel">Income: </label>
        <label id="incomeMain">5289.76</label>
    </div>

    <div class="expenses">
        <label class="incomeAndExpensesLabel">Expenses: </label>
        <label id="expensesMain">3614.99</label>
    </div>
</div>

<div class="chartContainer">
    <select class="chartType">
        <option value="Income/Expenses">Income/Expenses</option>
        <option value="Expenses">Expenses</option>
        <option value="Calendar">Calendar</option>
        <option value="Yearly Overview">Yearly Overview</option>
    </select>
</div>

<div class="savingGoal">
    <h1 class="savingsGoalh1">Saving Goal</h1>
    <label>Goal Amount:</label>
    <label id="userGoalAmount">$5000</label>
    <label>Deposit amount:</label>
    <input type="number" id="savingGoalInput" />
    <div class="progressBarContainer">
        <div class="progress" role="progressbar" aria-valuemax="100" style="width: 90%">
            <div class="progress-bar"></div>
        </div>
    </div>
</div>


<div class="budgetContainer">
    <h2>Budget Overview</h2>
    <div id="budgetList"></div>
</div>



@section scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
}